<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>投稿編集</title>
</head>
<body>

<div class="post-container">
<%= form_for @question do |f| %>
    
<%= f.submit "編集する" %>
<% end %>

</body>
</html>


