<%= stylesheet_link_tag 'questions', :media => "all" %>

<body>

<div class="loader-wrap">
  <div class="loader">Loading..♪</div>
</div>

<div class="questions-container">
<h3>質問投稿一覧</h3>
   <% @questions.each do |t| %>
     <div class="question">
       <div class= "main-box">
        <div class="left-container">
         <%= t.user.name %>
         </div>
        <div class="center-container"><%= t.title %></div>
        <div class="right-container">
         <%= link_to "詳細へ", question_path(t.id) %>
        </div>
       </div>
     </div>
   <% end %> 
 </div>

 <div class="btn">
  <a href="/questions/new" class="btn-circle-flat">新規投稿する</a>
 </div>

 <script>
$(function(){
	var loader = $('.loader-wrap');

	//ページの読み込みが完了したらアニメーションを非表示
	$(window).on('load',function(){
		loader.fadeOut();
	});

	//ページの読み込みが完了してなくても3秒後にアニメーションを非表示にする
	setTimeout(function(){
		loader.fadeOut();
	},5000);
});
</script>

 </body>

 

 
