<!DOCTYPE html>
<html lang="ja">
<head>
 <meta charset="utf-8">
 <title>user-index</title>
 </head>
 <%= stylesheet_link_tag 'users', :media => "all" %>

 <body>

 <div class="loader-wrap">
  <div class="loader">Loading..♪</div>
</div>

  <div class= "title">
   <h2>団体一覧</h2>
  </div>

  <div class="user-container">
    <% @users.each do |t| %>
     <div class="user">
       <div><%= t.name %></div>
       <div class="img">
        <%= link_to user_path(t.id) do %> 
          <%= image_tag t.image_url, size: "255x155" if t.image? %>
         <% end %>
       </div>
      
      </div>
    <% end %>
 </div>

 <script>
$(function(){
	var loader = $('.loader-wrap');

	//ページの読み込みが完了したらアニメーションを非表示
	$(window).on('load',function(){
		loader.fadeOut();
	});

	//ページの読み込みが完了してなくても3秒後にアニメーションを非表示にする
	setTimeout(function(){
		loader.fadeOut();
	},5000);
});
</script>


</body>
</html>