<!DOCTYPE html>
<html lang="ja">
<head>
 <meta charset="utf-8">
 <title>user-index</title>
 </head>
 <%= stylesheet_link_tag 'users', :media => "all" %>

 <body>
  <div class= "title">
  <h2>投稿一覧</h2>
  </div>
  <div class="user-container">
     <% @users.each do |t| %>
     <div class="user">
      <div><%= t.name %></div>
      <%= link_to user_path(t.id) do %> 
       <%= image_tag t.image_url, size: "235x155" if t.image? %>
       <% end %>
     
    </div>
    <% end %>
</div>
</body>
</html>