<!DOCTYPE html>
<html lang="ja">
<head>
 <meta charset="utf-8">
 <title>user-index</title>
 <link rel="stylesheet" type="text/css" href="./index.css">
 </head>

 <body>
  <h1> 団体一覧　</h1>
  <div class="user-container">
     <% @users.each do |t| %>
     <div class="user">
      <div><%= t.name %></div>
      <%= link_to user_path(t.id) do %> 
       <%= image_tag t.image_url, size: "250x200" if t.image? %>
       <% end %>
     
    </div>
    <% end %>
</div>
</body>
</html>