body{
    background-color: #EEEBE1;
    color: black;
  }
 
  .btn{
    color: #FFF;
  }

.question{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    width: auto;
}

.text-center{
    color:black;
    margin-top: 60px;
}

textarea.form-control {
    height: 200px;
    width: 920px;
}

.answer{
    text-align: center;
    padding: 30px;
    border-bottom: solid; color: #3b9177;
}

.link1{
    text-align: right;
}

.post-answer{
    padding: 30px;
}
.btn-circle-flat {
    position:fixed;
    bottom: 16px;
    right: 16px;
    display: inline-block;
    text-decoration: none;
    background: #aa5348;
    color: #FFF;
    width: 120px;
    height: 120px;
    line-height: 120px;
    border-radius: 50%;
    text-align: center;
    overflow: hidden;
    transition: .4s;
  }
  
  .btn-circle-flat:hover {
    background: #f0dca6;
  }
