* {
  padding: 0;
  margin: 0;
}
body {
  font-family: Miltonian Tattoo;
font-style: normal;
font-weight: normal;
font-size: 48px;
line-height: 57px;
text-align: center;

color: #FFFFFF;
}
header {
  background-color: #4E8A69;
  position: absolute;
  width: 1440px;
  height: 83px;
  left: 0px;
  top: 0px;
}


header a {
  color: white; 
  text-decoration: none; 
}
header h1 {
  color: white;
  margin-left: 20px;
}
.header-list {
  display: flex;
  justify-content: right;
}
header ul {
  display: flex;
}
header li {
  list-style: none;
  margin-right: 40px;
}
.container {
  width: 80%;
  margin: 20px auto;
}

input, textarea {
  box-sizing: border-box;
  width: 400px;
  padding: 6px;
}

input[type="submit"] {
  background-color: #74c6fd;
  border-radius: 5px;
  color: white;
  padding: 10px;
  text-align: center;
  width: 150px;
}

textarea {
  height: 120px;
}