.m-0{
  margin: 0;
}

.navbar-dark .navbar-brand {
  color: #fff;
  top: 15%;
  position: absolute;
}

.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  background-size: 100% 100%;
  position: absolute;
  top: 10%;
}

.d-block{
  display: block;
}

.ml-auto{
  margin-left: auto;
}

.ml-4{
  margin-left: 1.5rem;
}

.text-center{
  text-align: center;
}

.bg-main{
  height: 50px;
  background-color: #54be5d;
}