* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ",
    Meiryo, "ＭＳ Ｐゴシック", sans-serif;
}
header {
  background-color: #71d15e;
  height: 80px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header a {
  color: white; 
  text-decoration: none; 
}
header h1 {
  color: white;
  margin-left: 20px;
}
.header-list {
  display: flex;
  justify-content: right;
}
header ul {
  display: flex;
}
header li {
  list-style: none;
  margin-right: 40px;
}
.container {
  width: 80%;
  margin: 20px auto;
}

input, textarea {
  box-sizing: border-box;
  width: 400px;
  padding: 6px;
}

input[type="submit"] {
  background-color: #74c6fd;
  border-radius: 5px;
  color: white;
  padding: 10px;
  text-align: center;
  width: 150px;
}

textarea {
  height: 120px;
}