.container{
  display: flex;
  justify-content: space-between;
  margin-top: 150px;
  height: 606px
  
}
p{
  width:320px;
}

.btn-flat{
  position:fixed ;
  bottom: 16px;
  left: 270px;
  width: 330px;
  height: 72px;
  font-weight: bold;
  text-decoration: none;
  color: #6ecfdb;
  background: #ECECEC;
  transition: .4s;
  text-align:center;
  line-height: 72px;
}
  
.btn-flat:hover {
  background: #6ecfdb;
  color: white;
}

.btn-flat2{
  position:fixed ;
  bottom: 16px;
  right: 270px;
  width: 330px;
  height: 72px;
  font-weight: bold;
  text-decoration: none;
  color: #6ecfdb;
  background: #ECECEC;
  transition: .4s;
  text-align:center;
  line-height: 72px; 
}

.btn-flat2:hover {
  background: #6ecfdb;
  color: white;
}
