.container{
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  height: 570px;
  animation: fadeIn 3s ease 0s 1 normal;
  -webkit-animation: fadeIn 2s ease 0s 1 normal;
  }

@keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}

@-webkit-keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}
  
p{
  width:320px;
}


.btn-flat{
  position:absolute;
  bottom: -50%;
  left: 200px;
  width: 330px;
  height: 72px;
  font-weight: bold;
  text-decoration: none;
  color: #6ecfdb;
  background: #ECECEC;
  transition: .4s;
  text-align:center;
  line-height: 72px;
}
  
.btn-flat:hover {
  background: #6ecfdb;
  color: white;
}

.btn-flat2{
  position:absolute ;
  bottom: -50%;
  right: 200px;
  width: 330px;
  height: 72px;
  font-weight: bold;
  text-decoration: none;
  color: #6ecfdb;
  background: #ECECEC;
  transition: .4s;
  text-align:center;
  line-height: 72px; 
}

.btn-flat2:hover {
  background: #6ecfdb;
  color: white;
}
