body{
  background-color: #EEEBE1;
  color: black;
  width: 100%;
  position: relative;
}


.container{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 50px;
  height: 570px;
  animation: fadeIn 3s ease 7s 1 normal;
  -webkit-animation: fadeIn 2s ease 0s 1 normal;
  }

@keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}

@-webkit-keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}
  
p{
  margin-top: 10px;
  width:320px;
}


.btn-flat{
  position:absolute;
  bottom: -50%;
  left: 200px;
  width: 330px;
  height: 72px;
  font-weight: bold;
  text-decoration: none;
  color:#FFF;
  background: #ED7D31;
  transition: .4s;
  text-align:center;
  line-height: 72px;
}
  
.btn-flat:hover {
  background:#c04e15 ;
  color: white;
}

a{
  color: #FFF;
}

.btn-flat2{
  position:absolute ;
  bottom: -50%;
  right: 200px;
  width: 330px;
  height: 72px;
  font-weight: bold;
  text-decoration: none;
  color: #FFF;
  background: #5B9BD5;
  transition: .4s;
  text-align:center;
  line-height: 72px; 
}

.btn-flat2:hover {
  background: #3F72F1;
  color: white;
}
