.box1{
  display: flex;
 flex-direction: row-reverse;
  justify-content: space-evenly;
  margin-top: 150px;
  height: 300px;
  border-bottom: 2px solid #000;
  }

  .box2{
    display:flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    margin-top: 100px;
  }

 .link1{
   position: absolute;
   width: 288px;
   height: 47px;
   left: 872px;
   top: 399px;
 }
 
 .link2{
  position: absolute;
  width: 127px;
  height: 50px;
  left: 872px;
  top: 879px;
  }

  .btn-circle-flat {
    position:fixed;
    bottom: 16px;
    right: 16px;
    display: inline-block;
    text-decoration: none;
    background: #87befd;
    color: #FFF;
    width: 120px;
    height: 120px;
    line-height: 120px;
    border-radius: 50%;
    text-align: center;
    overflow: hidden;
    transition: .4s;
  }
  
  .btn-circle-flat:hover {
    background: #668ad8;
  }

  
