body{
  background-color: #EEEBE1;
  color: black;
}

.box1{
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap; 
  margin-top: 70px;
  height: 300px;
  margin-right: 40px;
  margin-left: 40px;
  border-bottom: 2px solid #3b9177;
  }

.text{
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  align-content: center;
  align-items: center;
  flex-direction: column;
  margin-right: 40px;
}
.user-image{
  width: 50%;
  text-align: center; 
}
 .section{
   max-width: 300px;
   margin: 0 auto;
   }

 a.btn_01{
  position: absolute;
  height: 47px;
   left: 855px;
   top: 370px;
   width: 288px;
   background: #5B9BD5;
  border: 1px solid #5B9BD5;
  border-radius: 30px;
  box-sizing: border-box;
  padding: 0 45px 0 25px;
  color: #fff;
  font-size: 16px;
  letter-spacing: 0.1em;
  line-height: 2.5;
  text-align: left;
  text-decoration: none;
  transition-duration: 0.3s;
  }
  a.btn_01:before {
    content: '';
    width: 8px;
    height: 8px;
    border: 0;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: rotate(45deg);
    position: absolute;
    top: 50%;
    right: 25px;
    margin-top: -6px;
  }
  a.btn_01:hover {
    background: #fff;
    color: #5B9BD5;
  }
  a.btn_01:hover:before {
    border-top: 2px solid #5B9BD5;
    border-right: 2px solid #5B9BD5;
  }

 .post{
  display: flex;
  flex-wrap: nowrap;
  margin-top: 90px;
  flex-direction: row-reverse;
 }
 .main{
   width: 50%;
   text-align: center;
 }
 .main img:hover{
    transform: scale(1.3,1.3);
 }

 .text2{
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  align-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2em;
  margin-right: 40px;
  background: #D3D3D3;
 }

 .text p + p {
  margin-top: 1em;
}

 .link2{
   text-align: right;
   margin-right: 40px;
 }

 

 h3{
  margin-top: 70px;
  text-align: center;
 }
 
 .container{
   display: inline-block;
   margin-bottom: 100px;
 }
 
  .btn-circle-flat {
    position:fixed;
    bottom: 16px;
    right: 16px;
    display: inline-block;
    text-decoration: none;
    background: #aa5348;
    color: #FFF;
    width: 120px;
    height: 120px;
    line-height: 120px;
    border-radius: 50%;
    text-align: center;
    overflow: hidden;
    transition: .4s;
  }
  
  .btn-circle-flat:hover {
    background: #f0dca6;
  }

.btn{
  color: #FFF;
}
  
