.user-container{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 130px;
    height: 606px
    
}
.title{
    text-align: center;
   margin-top: 50px;   
}
.text-center{
    color:black
}
