<h1>編集結果 </h1>
<h3>投稿内容</h3>
　<div class="about">
  　<p><%= @choru.about %></p>
  　<p><%= @choru.created_at %></p>
　</div>


<%= button_to "投稿する", users_path %>
<%= button_to "下書きに戻る", edit_choru_path(@choru.id) %>